[mysql]
prompt="[01;36m\\u@\\h[\\d]\\_[0m\n> "
default-character-set=utf8
show-warnings # show detail warning messages after command.
safe-updates # permit UPDATE and DELETE only when WHERE clause is specified.

[mysqld]
# log-bin=mysql-bin
# slow_query_log=ON
# slow_query_log_file=mysql-slow.log
# long_query_time=0.5
# innodb_buffer_pool_size = 256M
# innodb_log_file_size = 16M
